.resWrap
{
    border: 1px solid #999;
    margin: 5px;
    padding: 5px;
    height: 80px;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.resSelected 
{
    border: 1px solid #6f6;
    background-color: #cfc;
}
.resOver
{
    border: 1px solid #99f;
    background-color: #fcfcfc;
    cursor: pointer;
}

.resWrap img
{
    float: left;
    margin-right: 10px;
    margin-top: -2px;
}

.resWrap .name
{
    font-weight: bold;
}

.base_props
{
    padding: 10px;
}

.base_props .name
{
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 1em;
    color: #111;
}

.base_props .mf
{
    font-weight: bolder;
    font-size: 150%;
    margin-bottom: 1em;
    color: #777;
}

.base_props .prop
{
    font-size: 110%;
    margin-bottom: 0.2em;
}

.base_props .prop .name
{
    font-size: 90%;
    font-weight: bolder;
}

.compound .synonyms
{
    margin-top: 1em;
    margin-left: 210px;
}

i.loading
{
    margin: 1em;
    text-align: center;
}

#app-header {
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}
#app-msg {
    background: #D1DDEF;
    border: 1px solid #ACC3E4;
    padding: 3px 15px;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
}
.x-panel-ghost {
    z-index: 1;
}
.x-border-layout-ct {
    background: #DFE8F6;
}
.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}

#app-options .portlet-content {
    padding: 5px;
    font-size: 12px;
}

.zebra {
}

.zebra li {
    padding:5px;
}

.zebra li:hover {
    background-color: #DEECFD;
}

.x-tabpanel-child .x-panel-body {
    overflow: auto;
}
